/* Navbar Styles */


nav {
    background-color: #fff;
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    list-style-type: none;
  }
  
  .nav__links .link {
    margin: 0 15px;
  }
  
  .nav__links .link a {
    
    text-decoration: none;
    color: #777;  /* Set font color to gray */
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav__links .link a:hover {
    color: #000;  /* Set hover color to black */
  }
  
  .nav__logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .nav__logo img {
    width: 50px;
    height: auto;
    margin-bottom: 5px;
  }
  
  .nav__logo h4 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  
  .nav__logo p {
    font-size: 14px;
    color: #777;
    margin: 0;
  }
  
  /* Mobile Responsiveness */
  @media (max-width: 768px) {
    .nav__links {
      flex-direction: column;
      text-align: center;
    }
  
    .nav__links .link {
      margin: 10px 0;
    }
  
    .nav__logo {
      margin-bottom: 15px;
    }
  }
  